<ion-content>

  <ion-slides pager="true">

    <ion-slide>
      <div class="img-slide-padding">
        <img src="assets/imgs/5.png">
      </div>

      <h5>Bem Vindo a Assoar!</h5>
    </ion-slide>

    <ion-slide>
        <div class="img-slide-padding">
          <img src="assets/imgs/6.png">
        </div>

        <h2>Quem somos?</h2>
        <p>A ASSOAR é uma associação beneficiente</p>
    </ion-slide>

      <ion-slide>
          <div class="img-slide-padding">
            <img src="assets/imgs/7.png">
          </div>
          <h2>Deseja contribuir para a Associação?</h2>
          <p>Faça seu cadastro como doador</p>

          <button (click)="souDoador()">Sou Doador!</button>
      </ion-slide>

      <ion-slide>
          <div class="img-slide-padding">
            <img src="assets/imgs/8.png">
          </div>
          <h2>Deseja utilizar nossos Serviços?</h2>
          <p>Faça seu cadastro como paciente</p>

          <button (click)="souPaciente()">Sou Paciente!</button>
      </ion-slide>

  </ion-slides>
</ion-content>
