@import url('https://fonts.googleapis.com/css?family=B612+Mono&display=swap');
ion-slides{
  margin-top: 20px;
}
button{
  margin-bottom: 30px;
  background: #0351E3;
  color: white;
}
button:hover{
  background: #E86806;
}
ion-label{
  color: #3F4041;
  width: 50p
}
ion-label:hover{
  color: #E86806
}
h5{
  color: #E86806;
}
ion-card-subtitle{
  color: #E86806;
}
ion-icon{
  width: 15px;
  color: #0351E3;
  margin-bottom: 15px;
  margin-right: 15px;
}
