<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/fontawesome/fontawesome/css/all.min.css">
</head>

<ion-content>
    <!--Slides com Informações dos Usuários Cadastrados-->
    <ion-slides pager="true" [options]="slideOpts">
  
      <!--Informações Pessoais-->
      <ion-slide>
        <ion-card>
          <img src="assets/imgs/bg-slide-paciente.png"/>
          <ion-card-header>
          <ion-card-subtitle>Perfil</ion-card-subtitle>
            <ion-card-title><h5 class="featured-title" *ngFor="let paciente of pacientes">Seja Bem Vindo {{ paciente.nome }}!</h5></ion-card-title>
          </ion-card-header>
  
          <ion-list>
            <ion-item *ngFor="let paciente of pacientes">
              <ion-icon name="person"></ion-icon><ion-label class="item-nome">Nome: {{ paciente.nome }}</ion-label>
            </ion-item>
  
            <ion-item *ngFor="let paciente of pacientes">
              <ion-icon name="list-box"></ion-icon><ion-label class="item-rg">Rg: {{ paciente.rg }}</ion-label>
            </ion-item>
  
            <ion-item *ngFor="let paciente of pacientes">
              <ion-icon name="list-box"></ion-icon><ion-label class="item-cpf">Cpf: {{ paciente.cpf }}</ion-label>
            </ion-item>
  
            <ion-item *ngFor="let paciente of pacientes">
              <ion-icon name="tablet-portrait"></ion-icon><ion-label class="item-celular">Celular: {{ paciente.celular }}</ion-label>
            </ion-item>
          </ion-list>
                 
          <ion-footer>
              <ion-grid>
                <ion-row>
                  <ion-col text-center>
                    <button class="btn btn-block" (click)='logout()'>Sair</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-footer>
  
        </ion-card>
      </ion-slide>

      <ion-slide>
          <ion-card>
            <img src="assets/imgs/bg-slide-address-p.png"/>
            <ion-card-header>
              <ion-card-subtitle>Perfil</ion-card-subtitle>
              <ion-card-title><h5 class="featured-title" *ngFor="let paciente of pacientes">Informações de Endereço</h5></ion-card-title>
            </ion-card-header>
          
              <ion-list>
                <ion-item *ngFor="let paciente of pacientes">
                  <ion-icon name="arrow-forward"></ion-icon><ion-label class="item-bairro">Bairro: {{ paciente.bairro }}</ion-label>
                </ion-item>
            
                <ion-item *ngFor="let paciente of pacientes">
                  <ion-icon name="arrow-forward"></ion-icon><ion-label class="item-rua">Rua: {{ paciente.rua }}</ion-label>
                </ion-item>
            
                <ion-item *ngFor="let paciente of pacientes">
                  <ion-icon name="arrow-forward"></ion-icon><ion-label class="item-numero">Numero: {{ paciente.numero }}</ion-label>
                </ion-item>
            
                <ion-item *ngFor="let paciente of pacientes">
                  <ion-icon name="arrow-forward"></ion-icon><ion-label class="item-complemento">Complemento: {{ paciente.complemento }}</ion-label>
                </ion-item>
              </ion-list>
            
          <ion-footer>
            <ion-grid>
              <ion-row>
                <ion-col text-center>
                  <button class="btn btn-block" (click)='update()'>Atualizar Informações de Endereço</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-footer>
    
          </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
              <img src="assets/imgs/bg-slide-paciente-e.png"/>
              <ion-card-header>
                <ion-card-subtitle>Perfil</ion-card-subtitle>
                <ion-card-title><h5 class="featured-title" *ngFor="let paciente of pacientes">Informações de Equipamentos</h5></ion-card-title>
              </ion-card-header>
      
                <ion-list>
                  <ion-item *ngFor="let paciente of pacientes">
                    <ion-icon name="arrow-forward"></ion-icon><ion-label class="item-equipamentos">Equipamentos: {{ paciente.equipamentos }}</ion-label>
                  </ion-item>
                </ion-list>

                <ion-list>
                  <ion-item *ngFor="let paciente of pacientes">
                    <ion-icon name="arrow-forward"></ion-icon><ion-label class="item-responsavel">Responsável: {{ paciente.responsavel }}</ion-label>
                  </ion-item>
                </ion-list>

                <ion-list>
                  <ion-item *ngFor="let paciente of pacientes">
                    <ion-icon name="arrow-forward"></ion-icon><ion-label class="item-data">Data: {{ paciente.data }}</ion-label>
                  </ion-item>
                </ion-list>
      
            <ion-footer>
              <ion-grid>
                <ion-row>
                  <ion-col text-center>
                    <button class="btn btn-block" (click)='novo_cad_doador()'>Fazer uma nova doação</button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-footer>
        </ion-card>
      </ion-slide>

  </ion-slides>

</ion-content>