@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Abel');
*{
    padding: 0%;
    margin: 0%;
}

figure > img.logo-assoar{
    margin-top: 50px;
    width: 120px;
    height: 120px;
}

figure > figcaption.legenda-logo{
    color: #F17F29;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 30px;
}

.ion-padding{
    background-image: url('/assets/imgs/2.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 20px;
}
.forms{
    margin: 20px;
    font-size: 15px;
    color: #6CDDCA;
}
input{
    display: block;
    border: none;
    width: 100%;    
	border-bottom: 1px solid rgb(231, 150, 88);
	background: transparent;
    outline: none;
    margin-bottom: 30px;
    color: white;
}

input::placeholder{
    color: rgb(230, 230, 230);
}

.form-email:focus{
    border-bottom: 1px solid #F96900;
}
.form-senha:focus{
    border-bottom: 1px solid #F96900;
}

.btn-login{
    background-color: #F17F29;
    color: #DCE2C8;
}

.text-register{
    margin-top: 20px;
    color: whitesmoke;
    font-size: 16px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}