<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<ion-content>
  <main class="ion-padding">
    <figure class="text-center">
      <img src="/assets/imgs/wheelchair.png" alt="Logo ASSOAR" class="logo-assoar">
      <figcaption class='legenda-logo'>Doador</figcaption>
    </figure>
    
    <!--Lista com os equipamentos-->
    <ion-row>
        <ion-col>
          <ion-list>
            <ion-list-header>O que deseja doar?</ion-list-header>
              <ion-item>
                  <ion-label color="primary">Equipamentos</ion-label>
                  <ion-select multiple="true" cancelText="Cancelar" okText="Okay!">
                    <ion-select-option value="cadeira-rodas">Cadeira de Rodas</ion-select-option>
                    <ion-select-option value="cama-banho">Cama de Banho</ion-select-option>
                    <ion-select-option value="muletas">Muletas</ion-select-option>
                    <ion-select-option value="remedio">Remédio</ion-select-option>
                  </ion-select>
               </ion-item>       
          </ion-list>
      </ion-col>
    </ion-row>

    <!--Outros Equipamentos fora da Lista-->
    <div class="input-outros">
      <ion-row>
        <ion-col>
            <label for="c_outros_doador">
                <ion-icon name="add-circle"></ion-icon> Outros
            </label>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <input id="c_outros_doador" type="text" class="form-outros" [(ngModel)]="userRegister.outros" placeholder="Outros">
          </ion-col>
      </ion-row>
    </div>

    <!--Botão-->
    <div> <!-- botão final -->
      <ion-row>
        <ion-col>
          <button (click)="fazerRegistro3()" class="btn btn-block btn-enviar"> Enviar </button>
        </ion-col>
      </ion-row>
    </div>





  

