<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<ion-content>
  <main class='ion-padding'>
    <img src="/assets/imgs/solidarity.png" class="logo-app">
    
    <div class="titulo-app">
      assoar
    </div>

    <ion-row>
      <ion-col text-center>
        <button class='btn btn-block btn-login' style='margin-top: 100px;' (click)="go()">
          Faça seu Login!
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button class='btn btn-block btn-register' (click)="register()">Cadastre-se Agora!</button>
      </ion-col>
    </ion-row>

  </main>
</ion-content>
