<ion-content>
  <div class="ion-padding">
    <div class="text-register">
      Faça seu Cadastro na Assoar!
    </div>

    <!--Forms-->
  <div class="forms-register">
    <ion-icon name="create"></ion-icon>
    <input type="text" placeholder="Seu nome?" class="form-nome" focus>

    <ion-icon name="person"></ion-icon>
    <input type="email" class="form-email" placeholder="Digite seu E-mail" [(ngModel)]="userRegister.email">

    <ion-icon name="lock" class="icon-senha"></ion-icon>
    <input type="password" placeholder="Escolha uma Senha" class="form-senha2" [(ngModel)]="userRegister.password">

    <div class="next-text" (click)="fazerRegistro()">
        Próximo...
    </div>

    <div class="text-login" (click)="exibirLogin()">
      Já tem conta? Faça o login!
    </div>
  </div>
  </div>
</ion-content>